<p>Добрый день!</p>
<p>Чтобы активировать вашу учетную запись, пожалуйста, передйте по ссылке ниже</p>
<p>
  <a href="{{ url }}">{{ url }}</a>
</p>

<p>Если вы не запрашивали это электронное письмо, вы можете проигнорировать его.</p>
